*{
    box-sizing: border-box;
}

body{
    background-image: url('pexels-eberhardgross-2098428.jpg');
    background-position: center;
    background-size: cover;
    color: aliceblue;
    font-family:sans-serif;
   /* margin: 0 4rem;*/

    margin: 3rem;
    padding: 0;
   
    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(101, 97, 97, 0.152);
    border-radius: 12px;
    padding: .5rem 2rem;
    margin: 2rem auto 0;

    position: fixed;

    /* width: 100%;
    max-width: 1200px; */
    top: 0;
    left: 0;
    right:0;
   

    z-index: 100;   
   
}  

#logo{

    margin: 0;
 }

 .nav ul{
    display: flex;
    gap: 2rem;

    margin: 0;
    padding: 0;   
}

.nav ul li{
    display: flex;
    align-items: center;

}

.nav ul>li>a{
    text-decoration: none;  
    color: #ffffff;
}

.dropdown{
    background-color: #0000001a;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border-color: #ffffff2c;
}
   
.nav-btn{
    background-color: rgba(252, 250, 250, 0.096);
    padding: .5rem 1rem;
    border-radius: 12px;
    margin-right: 1rem;
}


.main{
    padding-top: 80px;
    
}

.main h1{
    font-size: 5rem;
}

.main h3{
    font-weight: 100; 
    font-size: 1.2rem;
    color: #ffffffeb;
    margin: 3rem auto 2rem;
}

.btn-container{
    width: 35rem;
    
}

.prim-btn,.sec-btn{
    border-radius: 8px;
    background-color: rgb(241, 123, 12);
    color: #ffffff;
    padding: .5rem 1rem;
    font-size: 1rem;
}

.prim-btn{
    margin-right: 1rem;
}

.sec-btn{
    background-color: #00000056;
}






